In [182]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
import pymysql
import locale
from locale import atof

In [2]:
files = ["Divvy_Trips_2019_Q1.csv",
         "Divvy_Trips_2019_Q2.csv",
         "Divvy_Trips_2019_Q3.csv",
         "Divvy_Trips_2019_Q4.csv"
        ]
new_files = ["Divvy_Trips_2021_Q1.csv",
         "Divvy_Trips_2021_Q2.csv",
         "Divvy_Trips_2021_Q3.csv",
         "Divvy_Trips_2021_Q4.csv"
        ]
locale.setlocale(locale.LC_NUMERIC, '')
df1 = pd.read_csv("Divvy_Trips_2021_Q1.csv")
df1['start_time'] = df1['start_time'].apply(pd.to_datetime)
df1['end_time'] = df1['end_time'].apply(pd.to_datetime)
#df['start_time'].describe()
#df[~df['end_time'].notnull()]
#df.to_html()

In [183]:
df = pd.read_csv('Divvy_Trips_2021.csv')

In [184]:
df['start_time'] = df['start_time'].apply(pd.to_datetime)
df['end_time'] = df['end_time'].apply(pd.to_datetime)

In [9]:
df['start_time'].describe()
#df['end_time'].describe()

<ipython-input-9-f53014a92ee9>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['start_time'].describe()

count                 3665479
unique                3188670
top       2021-08-19 17:41:37
freq                        7
first     2021-01-01 00:04:37
last      2021-12-31 23:57:17
Name: start_time, dtype: object

In [ ]:
s = pd.to_datetime(df['start_time'])
df_gb = s.groupby(s.dt.floor('d')).size().reset_index(name='count')
print(df_gb)
print(df_gb['count'].sum())
#df_gb.to_csv("daily_ridership_counts.csv" ,sep = ',', index=False)

In [250]:
months = df.month.unique()

In [254]:
df_mm

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear,dayOfWeek,hour,month
0,21742443,2021-01-01 00:04:37,2021-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0,Friday,0,January
1,21742444,2021-01-01 00:08:13,2021-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0,Friday,0,January
2,21742445,2021-01-01 00:13:23,2021-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0,Friday,0,January
3,21742446,2021-01-01 00:13:45,2021-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0,Friday,0,January
4,21742447,2021-01-01 00:14:52,2021-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0,Friday,0,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101461,21864662,2021-01-31 22:08:12,2021-01-31 22:15:26,743,434.0,463,Clark St & Berwyn Ave,294,Broadway & Berwyn Ave,Subscriber,Male,1999.0,Sunday,22,January
101462,21864663,2021-01-31 22:08:18,2021-01-31 22:40:21,856,1923.0,158,Milwaukee Ave & Wabansia Ave,298,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,1986.0,Sunday,22,January
101463,21864665,2021-01-31 22:58:29,2021-01-31 23:02:15,743,226.0,294,Broadway & Berwyn Ave,463,Clark St & Berwyn Ave,Subscriber,Male,1984.0,Sunday,22,January
101472,21864678,2021-01-31 23:57:21,2021-02-01 00:47:21,6035,3000.0,317,Wood St & Taylor St,338,Calumet Ave & 18th St,Subscriber,Male,1974.0,Sunday,23,January
102012,21865525,2021-01-29 16:19:26,2021-01-29 16:38:20,6165,1134.0,225,Halsted St & Dickens Ave,211,St. Clair St & Erie St,Subscriber,Male,1981.0,Friday,16,January

In [260]:
for month in months:
    df_mm = df[df['month'] == month]
    df_gb = df_mm.groupby(['from_station_id','to_station_id']).size()
    df_gb = df_gb.reset_index()
    df_gb = df_gb.rename(columns={'from_station_id': 'origin', 'to_station_id': 'dest',0:'count'})
    df_gb.to_csv('divvy_route_usage_' + month + '.csv', sep = ',', index=False)

In [258]:
df_gb

       from_station_id  to_station_id  0
0                    2              3  3
1                    2             24  2
2                    2             35  2
3                    2             39  2
4                    2             47  1
...                ...            ... ..
24154              664            325  1
24155              664            487  1
24156              664            497  1
24157              664            498  1
24158              664            502  1

[24159 rows x 3 columns]

In [11]:
df_route_usage = pd.read_csv("divvy_route_usage1.csv")

In [15]:
df_route_usage.sort_values(by=['0']).head(10)

        from_station_id  to_station_id  0
113775              594            443  1
41858               152            485  1
41860               152            487  1
95028               378            300  1
95029               378            303  1
95030               378            305  1
95031               378            307  1
41862               152            490  1
20027                71            256  1
73502               282            643  1

In [58]:
df_stations = pd.read_csv("station_info_filtered.csv")

In [59]:
df_stations['legacy_id']

0      456
1      444
2      480
3      645
4      555
      ...
373    657
374    637
375    569
376    413
377    396
Name: legacy_id, Length: 378, dtype: int64

In [153]:
#groupby source and dest and get counts
df_route_usage = df.groupby(['from_station_id','to_station_id']).size()
df_route_usage

from_station_id  to_station_id
2                3                398
                 4                106
                 5                 15
                 6                181
                 7                 39
                                 ...
673              638                3
                 639               10
                 654                2
                 666                4
                 672                2
Length: 122886, dtype: int64

In [ ]:
for i in range(0,len(files)):
    current_file = files[i]
    new_file = new_files[i]
    df = pd.read_csv(current_file)
    print("Processing file: ", current_file)
    print(df['start_time'].describe())
    print(df['end_time'].describe())
    df['start_time'] = df['start_time'].apply(pd.to_datetime)
    df['end_time'] = df['end_time'].apply(pd.to_datetime)
    df['start_time'] = df['start_time'] + pd.DateOffset(years = 2)
    df['end_time'] = df['end_time'] + pd.DateOffset(years = 2)
    print("Processed file: ", current_file)
    print(df['start_time'].describe())
    print(df['end_time'].describe())
    df = df[df['from_station_id'] != df['to_station_id']]
    df['tripduration'] = df.iloc[:,4].str.replace(',','').astype(float)
    #df['tripduration'] = df['tripduration'].astype(float)
    df = df[df['tripduration'] > 60]
    #df.to_csv(new_file, sep = ',', index=False)

In [91]:
sum = 0
dfs = []
#con = create_engine('mysql+pymysql://root:eQ12345@127.0.0.1/bikelytics_nyc')
#aws_con = create_engine('mysql+pymysql://rishi:bikelytics!123@bikelytics.cnhwlrgc2wod.us-east-2.rds.amazonaws.com/bikelytics_chicago')
for file in new_files:
    df = pd.read_csv(file,header=0,index_col=None)
    print("'",file,"' read as a dataframe.\n")
    print(df.shape[0])
    sum = sum + df.shape[0]
    print(sum)
    dfs.append(df)
    #df.to_sql(con=con,name='trips2', if_exists='append', index=True)
    #print("Uploaded '",file,"' data into local DB.")
    #df.to_sql(con=aws_con,name='trips', if_exists='append', index=True)
    #print("Uploaded '",file,"' data into AWS DB.")

' Divvy_Trips_2021_Q1.csv ' read as a dataframe.

357973
357973
' Divvy_Trips_2021_Q2.csv ' read as a dataframe.

1059011
1416984
' Divvy_Trips_2021_Q3.csv ' read as a dataframe.

1562036
2979020
' Divvy_Trips_2021_Q4.csv ' read as a dataframe.

686737
3665757

In [92]:
df = pd.concat(dfs,axis=0, ignore_index=True)

In [94]:
df_stations = pd.read_csv('station_information.csv')
df_stations

,lat,name,rental_methods/0,rental_methods/1,rental_methods/2,has_kiosk,rental_uris/android,rental_uris/ios,region_id,station_type,...,eightd_station_services/0/id,eightd_station_services/0/docks_availability,eightd_station_services/0/name,eightd_station_services/0/off_dock_bikes_count,eightd_station_services/0/off_dock_remaining_bike_capacity,address,dockless_bikes_parking_zone_capacity,region_code,rack_model,client_station_id
0,41.901315,Damen Ave & Thomas St (Augusta Blvd),KEY,CREDITCARD,TRANSITCARD,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,0.0,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41.881320,Dearborn St & Monroe St,KEY,CREDITCARD,TRANSITCARD,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,0.0,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41.877850,Michigan Ave & Jackson Blvd,KEY,CREDITCARD,TRANSITCARD,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,0.0,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41.867888,Indiana Ave & Roosevelt Rd,KEY,CREDITCARD,TRANSITCARD,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,0.0,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41.913865,Halsted St & Willow St,KEY,CREDITCARD,TRANSITCARD,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,0.0,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
836,41.846506,Sacramento Ave & 25th St,NaN,NaN,NaN,False,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,lightweight,...,NaN,NaN,NaN,NaN,NaN,"2458, South Sacramento Avenue, South Lawndale,...",9.0,CHI,CITY_PILOT_RACK,motivate_CHI_1594046400988140226
837,41.986764,Western Ave & Ardmore Ave,NaN,NaN,NaN,False,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,lightweight,...,NaN,NaN,NaN,NaN,NaN,"5754, North Western Avenue, West Ridge, Chicag...",9.0,CHI,CITY_PILOT_RACK,motivate_CHI_1594046465420805300
838,41.990660,Washtenaw Ave & Peterson Ave,NaN,NaN,NaN,False,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,lightweight,...,NaN,NaN,NaN,NaN,NaN,"2700-2704, West Peterson Avenue, West Ridge, C...",9.0,CHI,CITY_PILOT_RACK,motivate_CHI_1594046461117682452
839,41.902393,Kildare Ave & Division St,NaN,NaN,NaN,False,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,lightweight,...,NaN,NaN,NaN,NaN,NaN,"4255-4259, West Division Street, Beat 2534, Hu...",9.0,CHI,CITY_PILOT_RACK,motivate_CHI_1575949493798695616
840,41.701217,S Aberdeen St & W 106th St,NaN,NaN,NaN,False,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,lightweight,...,NaN,NaN,NaN,NaN,NaN,"Mount Vernon Elementary School, South Aberdeen...",3.0,CHI,CITY_PILOT_RACK,motivate_CHI_1448642162257565290

In [61]:
aa = set(df['from_station_id'].unique()).union(set(df['to_station_id'].unique()))
aa = set(aa)
#df_stations = pd.read_csv('station_information.csv')
df_stations = df_stations[df_stations['legacy_id'].isin([int(x) for x in aa])]
df_stations
#df_stations.to_csv('station_info_filtered.csv', sep = ',', index=False)

,lat,name,rental_methods/0,rental_methods/1,rental_methods/2,has_kiosk,rental_uris/android,rental_uris/ios,region_id,station_type,...,eightd_station_services/0/id,eightd_station_services/0/docks_availability,eightd_station_services/0/name,eightd_station_services/0/off_dock_bikes_count,eightd_station_services/0/off_dock_remaining_bike_capacity,address,dockless_bikes_parking_zone_capacity,region_code,rack_model,client_station_id
0,41.991178,2112 W Peterson Ave,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41.844475,Albany Ave & 26th St,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41.961041,Albany Ave & Montrose Ave,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41.826712,Archer (Damen) Ave & 37th St,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,41.803023,Ashland Ave & 50th St,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
373,41.899181,Wood St & Augusta Blvd,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
374,41.895634,Wood St & Chicago Ave,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
375,41.759160,Woodlawn Ave & 75th St,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
376,41.814093,Woodlawn Ave & Lake Park Ave,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
377,41.758768,Yates Blvd & 75th St,CREDITCARD,TRANSITCARD,KEY,True,https://chi.lft.to/lastmile_qr_scan,https://chi.lft.to/lastmile_qr_scan,NaN,classic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
set(df_stations['legacy_id'])

378

In [68]:
df

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2021-01-01 00:04:37,2021-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2021-01-01 00:08:13,2021-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2021-01-01 00:13:23,2021-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2021-01-01 00:13:45,2021-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2021-01-01 00:14:52,2021-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3665474,25962899,2021-12-31 23:54:54,2022-01-01 00:22:02,5996,1628.0,145,Mies van der Rohe Way & Chestnut St,25,Michigan Ave & Pearson St,Subscriber,Male,1992.0
3665475,25962900,2021-12-31 23:56:13,2022-01-01 00:15:45,2196,1172.0,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
3665476,25962902,2021-12-31 23:57:05,2022-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
3665477,25962903,2021-12-31 23:57:11,2022-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
3665478,25962904,2021-12-31 23:57:17,2021-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [60]:
stations_set = set(df_stations['legacy_id'])
df[df['from_station_id'].isin([int(x) for x in aa]) | df['to_station_id'].isin([int(x) for x in aa]) ]

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2021-01-01 00:04:37,2021-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2021-01-01 00:08:13,2021-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2021-01-01 00:13:23,2021-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2021-01-01 00:13:45,2021-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2021-01-01 00:14:52,2021-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3665474,25962899,2021-12-31 23:54:54,2022-01-01 00:22:02,5996,1628.0,145,Mies van der Rohe Way & Chestnut St,25,Michigan Ave & Pearson St,Subscriber,Male,1992.0
3665475,25962900,2021-12-31 23:56:13,2022-01-01 00:15:45,2196,1172.0,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
3665476,25962902,2021-12-31 23:57:05,2022-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
3665477,25962903,2021-12-31 23:57:11,2022-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
3665478,25962904,2021-12-31 23:57:17,2021-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [133]:
df_stations.sort_values(by=['name']).to_csv('station_info_filtered.csv', sep = ',', index=False)
df_stations[['legacy_id','lat','lon','name']].sort_values(by=['name']).to_json('station_info_filtered.json',orient='records')

In [31]:
#df_stations = pd.read_csv("convertcsv (4).csv")
df_stations[df_stations['legacy_id'].isin([360, 361, 363, 459, 566, 651, 671])]

Empty DataFrame
Columns: [region_id, short_name, capacity, legacy_id, has_kiosk, lat, eightd_has_key_dispenser, electric_bike_surcharge_waiver, station_type, rental_methods/0, rental_methods/1, rental_methods/2, lon, external_id, rental_uris/android, rental_uris/ios, name, station_id, rack_model, dockless_bikes_parking_zone_capacity, region_code, address, client_station_id]
Index: []

[0 rows x 23 columns]

In [185]:
removeStations = set([360, 361, 363, 671])
df = df[~df['from_station_id'].isin(removeStations) & ~df['to_station_id'].isin(removeStations)]

In [7]:
df_route_usage

NameError: name 'df_route_usage' is not defined

In [154]:
df_route_usage.to_csv("divvy_route_usage1.csv", sep = ',', index=True)

In [ ]:

df_route_usage.to_excel("Divvy_Trips_2021.xlsx")

In [54]:
df_stations[['legacy_id','lat','lon','name']].sort_values(by=['name']).to_json('station_info_filtered.json',orient='records')

In [48]:
df[df['to_station_id']==671]

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
1564329,23660988,2021-07-10 09:59:28,2021-09-23 17:48:32,1544,6508144.0,395,Jeffery Blvd & 76th St,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,NaN
1566780,23663774,2021-07-10 14:22:16,2021-08-05 11:38:33,2943,2236576.0,550,Central Ave & Chicago Ave,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,1910.0
1602072,23710210,2021-07-12 13:08:10,2021-10-12 10:32:18,1219,7939448.0,317,Wood St & Taylor St,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,1992.0
1609194,23718049,2021-07-12 17:39:37,2021-07-18 11:04:32,436,494695.0,85,Michigan Ave & Oak St,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,NaN
1614250,23723730,2021-07-12 22:24:38,2021-08-20 11:08:05,823,3329006.0,119,Ashland Ave & Lake St,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3632879,25926587,2021-12-22 15:25:14,2021-12-30 10:00:08,4606,671693.0,173,Mies van der Rohe Way & Chicago Ave,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,NaN
3643382,25938100,2021-12-25 12:55:41,2021-12-30 09:58:53,2582,421391.0,76,Lake Shore Dr & Monroe St,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,NaN,NaN
3648646,25944204,2021-12-26 16:33:23,2021-12-27 18:44:59,4984,94295.0,69,Damen Ave & Pierce Ave,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,Female,1983.0
3662999,25959968,2021-12-30 17:29:25,2021-12-31 10:44:01,2379,62075.0,119,Ashland Ave & Lake St,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Subscriber,Male,1976.0
3665728,25962868,2021-12-31 23:27:24,2022-01-01 17:25:25,3939,64681.0,127,Lincoln Ave & Fullerton Ave,671,HUBBARD ST BIKE CHECKING (LBS-WH-TEST),Customer,Male,1995.0

In [14]:
df[df['from_station_id'].isin([int(x) for x in df_stations['legacy_id']]) | df['to_station_id'].isin([int(x) for x in df_stations['legacy_id']])]

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742443,2021-01-01 00:04:37,2021-01-01 00:11:07,2167,390.0,199,Wabash Ave & Grand Ave,84,Milwaukee Ave & Grand Ave,Subscriber,Male,1989.0
1,21742444,2021-01-01 00:08:13,2021-01-01 00:15:34,4386,441.0,44,State St & Randolph St,624,Dearborn St & Van Buren St (*),Subscriber,Female,1990.0
2,21742445,2021-01-01 00:13:23,2021-01-01 00:27:12,1524,829.0,15,Racine Ave & 18th St,644,Western Ave & Fillmore St (*),Subscriber,Female,1994.0
3,21742446,2021-01-01 00:13:45,2021-01-01 00:43:28,252,1783.0,123,California Ave & Milwaukee Ave,176,Clark St & Elm St,Subscriber,Male,1993.0
4,21742447,2021-01-01 00:14:52,2021-01-01 00:20:56,1170,364.0,173,Mies van der Rohe Way & Chicago Ave,35,Streeter Dr & Grand Ave,Subscriber,Male,1994.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3665752,25962899,2021-12-31 23:54:54,2022-01-01 00:22:02,5996,1628.0,145,Mies van der Rohe Way & Chestnut St,25,Michigan Ave & Pearson St,Subscriber,Male,1992.0
3665753,25962900,2021-12-31 23:56:13,2022-01-01 00:15:45,2196,1172.0,112,Green St & Randolph St,225,Halsted St & Dickens Ave,Subscriber,Male,1981.0
3665754,25962902,2021-12-31 23:57:05,2022-01-01 00:05:46,863,520.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Male,1967.0
3665755,25962903,2021-12-31 23:57:11,2022-01-01 00:05:45,2637,514.0,623,Michigan Ave & 8th St,52,Michigan Ave & Lake St,Subscriber,Female,1970.0
3665756,25962904,2021-12-31 23:57:17,2021-12-31 23:59:18,5930,120.0,256,Broadway & Sheridan Rd,240,Sheridan Rd & Irving Park Rd,Subscriber,Male,1982.0

In [ ]:
df['start_time'].describe()

In [4]:
df = pd.concat(dfs,axis=0, ignore_index=True)
df['start_time'] = df['start_time'].apply(pd.to_datetime)
df['end_time'] = df['end_time'].apply(pd.to_datetime)
#dfs = []

In [16]:
df
df_35_1 = df[df['from_station_id'] == 35]
df_35_2 = df[df['to_station_id'] == 35]
df_35 = [df_35_1,df_35_2]
df_35 = pd.concat(df_35,axis=0, ignore_index=True)
df_35

,trip_id,start_time,end_time,bikeid,tripduration,from_station_id,from_station_name,to_station_id,to_station_name,usertype,gender,birthyear
0,21742463,2021-01-01 00:29:19,2021-01-01 01:08:12,3914,2333.0,35,Streeter Dr & Grand Ave,39,Wabash Ave & Adams St,Customer,NaN,NaN
1,21742465,2021-01-01 00:29:28,2021-01-01 01:07:49,3355,2301.0,35,Streeter Dr & Grand Ave,39,Wabash Ave & Adams St,Customer,NaN,NaN
2,21742488,2021-01-01 01:03:57,2021-01-01 01:08:35,1170,278.0,35,Streeter Dr & Grand Ave,173,Mies van der Rohe Way & Chicago Ave,Subscriber,Male,1994.0
3,21742524,2021-01-01 01:46:09,2021-01-01 02:07:32,4333,1283.0,35,Streeter Dr & Grand Ave,37,Dearborn St & Adams St,Customer,NaN,NaN
4,21742525,2021-01-01 01:46:14,2021-01-01 02:07:13,3077,1259.0,35,Streeter Dr & Grand Ave,37,Dearborn St & Adams St,Customer,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
131153,25962841,2021-12-31 23:03:58,2021-12-31 23:31:44,1722,1665.0,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Grand Ave,Customer,NaN,NaN
131154,25962842,2021-12-31 23:04:09,2021-12-31 23:31:28,711,1639.0,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Grand Ave,Customer,NaN,NaN
131155,25962850,2021-12-31 23:11:42,2021-12-31 23:38:54,5406,1632.0,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Grand Ave,Customer,NaN,NaN
131156,25962851,2021-12-31 23:11:58,2021-12-31 23:39:11,5077,1632.0,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Grand Ave,Customer,NaN,NaN
131157,25962853,2021-12-31 23:12:07,2021-12-31 23:38:52,3467,1605.0,76,Lake Shore Dr & Monroe St,35,Streeter Dr & Grand Ave,Customer,NaN,NaN

In [125]:
station_ids = set(df_stations['legacy_id'])
station_ids
for i in station_ids:
    df_id_from = df[df['from_station_id'] == i]
    df_id_to = df[df['to_station_id'] == i]
    df_id = [df_id_from,df_id_to]
    df_id = pd.concat(df_id,axis=0, ignore_index=True)
    
    s = pd.to_datetime(df_id['start_time'])
    df_gb_id = s.groupby(s.dt.floor('d')).size().reset_index(name='count')
    #print(df_gb_id)
    df_gb_id = df_gb_id.rename(columns={'start_time': 'date', 'count': 'value'})
    df_gb_id['date'] = df_gb_id['date'].dt.strftime('%Y-%m-%d')
    dict_d = df_gb_id.set_index('date').to_dict()
    
    idx = pd.date_range('2021-01-01', '2021-12-31')
    s = pd.Series(dict_d.get('value'))
    s.index = pd.DatetimeIndex(s.index)
    s = s.reindex(idx, fill_value=0)
    df111 = pd.DataFrame(s).reset_index()
    
    df111 = df111.rename(columns={'index': 'date', 0: 'value'})
    df111['date'] = df111['date'].dt.strftime('%Y-%m-%d')
    df111.to_json("./stationwise_daily_ridership/daily_ridership_counts_"+str(i)+".json" ,orient='records',date_format="%Y-%m-%d")

In [180]:
#incoming
for i in station_ids:
    df_id = df[df['to_station_id'] == i]
    df_res = df_id.groupby([df_id.start_time.dt.hour]).count()
    df_res = df_res['trip_id']
    df_res = df_res.reset_index()
    df_res = df_res.rename(columns={'start_time': 'hour', 'trip_id': 'trips'})
    
    dict_stat = df_res.set_index('hour').to_dict()
    idx = range(0,24)
    s = pd.Series(dict_stat.get('trips'))
    s = s.reindex(idx,fill_value=0)
    df_stat = pd.DataFrame(s).reset_index()
    df_stat = df_stat.rename(columns={'index': 'hour', 0: 'trips'})
    df_stat.to_json("./stationwise_incomingstats/daily_ridership_counts_"+str(i)+".json" ,orient='records')

In [181]:
#outgoing
for i in station_ids:
    df_id = df[df['from_station_id'] == i]
    df_res = df_id.groupby([df_id.start_time.dt.hour]).count()
    df_res = df_res['trip_id']
    df_res = df_res.reset_index()
    df_res = df_res.rename(columns={'start_time': 'hour', 'trip_id': 'trips'})
    
    dict_stat = df_res.set_index('hour').to_dict()
    idx = range(0,24)
    s = pd.Series(dict_stat.get('trips'))
    s = s.reindex(idx,fill_value=0)
    df_stat = pd.DataFrame(s).reset_index()
    df_stat = df_stat.rename(columns={'index': 'hour', 0: 'trips'})
    df_stat.to_json("./stationwise_outgoingstats/daily_ridership_counts_"+str(i)+".json" ,orient='records')

In [202]:
len(station_ids)

378

In [187]:
df.to_csv('Divvy_Trips_2021.csv', sep = ',', index=False)

In [188]:
##############

In [194]:
df['dayOfWeek'] =df['start_time'].dt.day_name()
df['hour'] = df['start_time'].dt.hour

In [205]:
df['to_station_id'].describe()

count    3.665479e+06
mean     2.020522e+02
std      1.554729e+02
min      2.000000e+00
25%      7.700000e+01
50%      1.740000e+02
75%      2.890000e+02
max      6.730000e+02
Name: to_station_id, dtype: float64

In [207]:
for i in station_ids:
    df_id = df[(df['from_station_id'] == i) | (df['to_station_id'] == i)]
    df4 = df_id.groupby(['dayOfWeek', 'hour'],sort=False).count()
    df4.reset_index(inplace=True)
    graphdf = df4[["hour", "dayOfWeek", "trip_id"]]
    graphdf.columns = ['hour', 'weekday', 'value']
    graphdf.to_json('stationwise_heatmap_data/heatmapdata_'+str(i)+'.json',orient="records")

In [209]:
df['month'] = df['start_time'].dt.month_name()

In [211]:
df_month = df[df['month'] == 'January']

In [ ]:
df_month[df_month['gender'] == 'Male']

In [224]:
months

{'April',
 'August',
 'December',
 'February',
 'January',
 'July',
 'June',
 'March',
 'May',
 'November',
 'October',
 'September'}

In [238]:
months = ['May']
for month in months:
    print(month)
    df_month = df
    
    df_month_male = df_month[df_month['gender'] == 'Male']
    df_month_male_gb = df_month_male.groupby(df_month_male['start_time'].dt.floor('d')).count()
    df_month_male_gb = df_month_male_gb.rename(columns={'trip_id': 'male'})
    #print(df_month_male_gb)
    
    df_month_female = df_month[df_month['gender'] == 'Female']
    df_month_female_gb = df_month_female.groupby(df_month_female['start_time'].dt.floor('d')).count()
    df_month_female_gb = df_month_female_gb.rename(columns={'trip_id': 'female'})
    #print(df_month_female_gb)
    
    df_month_other = df_month[df_month['gender'] == 'Other']
    df_month_other_gb = df_month_other.groupby(df_month_other['start_time'].dt.floor('d')).count()
    df_month_other_gb = df_month_other_gb.rename(columns={'trip_id': 'other'})
    #print(df_month_other_gb)
    
    df_month_sub = df_month[df_month['usertype'] == 'Subscriber']
    df_month_sub_gb = df_month_sub.groupby(df_month_sub['start_time'].dt.floor('d')).count()
    df_month_sub_gb = df_month_sub_gb.rename(columns={'trip_id': 'subscriber'})
    #print(df_month_sub_gb)
    
    df_month_cust = df_month[df_month['usertype'] == 'Customer']
    df_month_cust_gb = df_month_cust.groupby(df_month_cust['start_time'].dt.floor('d')).count()
    df_month_cust_gb = df_month_cust_gb.rename(columns={'trip_id': 'customer'})
    
    df_month_whole = pd.concat([df_month_male_gb, df_month_female_gb,df_month_other_gb,df_month_sub_gb,df_month_cust_gb], axis=1)
    
    break

May

In [246]:
df_month_whole = df_month_whole[['male','female','other','subscriber','customer']]
df_month_whole1 = df_month_whole.reset_index()
df_month_whole1 = df_month_whole1.rename(columns={'start_time': 'date'})
df_month_whole1

          date  male  female   other  subscriber  customer
0   2021-01-01   866     270   113.0        1138       111
1   2021-01-02  3230     772   105.0        3995       112
2   2021-01-03  4346     989   195.0        5320       210
3   2021-01-04  4948    1280   413.0        6129       512
4   2021-01-05  3406    1407  1011.0        4618      1206
..         ...   ...     ...     ...         ...       ...
360 2021-12-27  2647     759   427.0        3264       569
361 2021-12-28  1709     570   370.0        2107       542
362 2021-12-29  2028     813   797.0        2513      1125
363 2021-12-30  2520     568   138.0        3044       182
364 2021-12-31  1664     384   103.0        2009       142

[365 rows x 6 columns]

In [247]:
df_month_whole1['date'] = df_month_whole1['date'].dt.strftime('%Y-%m-%d')
df_month_whole1.to_json('catBasedCounts.json',orient='records',date_format="%Y-%m-%d")